<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myCustomPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>myCustomPlugin</name><js-module name="myCustomPlugin" src="www/myCustomPlugin.js"><clobbers target="cordova.plugins.myCustomPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="myCustomPlugin"><param name="android-package" value="cordova-plugin-myCustomPlugin.myCustomPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/myCustomPlugin.java" target-dir="src/cordova-plugin-myCustomPlugin/myCustomPlugin" /></platform></plugin>